<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <script src="https://kit.fontawesome.com/fb030a63a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div id="heading">
            <i class="fa-solid fa-address-book"></i>
            <h1 id="page-heading">&nbsp; &nbsp; My Contact List</h1>
        </div>
    </header>
    <div>
        <ul>
            <% for(let i of contact_list){%>
                <li>
                    <div id="detail">
                        <div id="name">
                            <p><%=i.name%></p>
                        </div>
                        <div id="phone">
                            <p><%=i.phone%></p>
                        </div>
                        <div class="delete">
                            <a href="/delete-contact/?id=<%=i._id%>">
                                <i class="fa-solid fa-rectangle-xmark"></i>
                            </a>
                        </div>
                    </div>
                    
                </li>
            <%}%>
        </ul>
    </div>
    <div id="form">
        <form action="/createList" method="POST">
            <input type="text" name="naam" placeholder="enter name" required>
            <input type="number" name="phone" placeholder="enter number" required>
            <button type="submit">add contact</button>
        </form>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>