body{
    margin: 0%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(216, 13, 13),black);
}
#page-heading{
    margin-top: 25px;
    color: rgb(254, 251, 251);
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-solid{
    display: inline-block;
    font-size: 20px;
    color: rgb(208, 0, 0);
}
#heading{
    
    margin: auto;
    width: fit-content;
}
ul{
    list-style-type: none;
}
#name{
    width: 150px;
    display: inline-block;
}
#phone{
    width: 170px;
    display: inline-block;

}
#detail{
    height: 50px;
    padding-left: 2px;
    margin: auto;
    margin-bottom: 12px;
    width: fit-content;
    border-radius: 7px;
    width: fit-content;
    background-color: rgb(74, 31, 182);
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0.5px rgb(241, 203, 255);
    border: 2.7px solid rgb(54, 20, 141);
}
#detail:hover{
    background-color: rgb(56, 20, 147);
    border: 2.7px solid rgb(37, 12, 99);
    box-shadow: 0px 0px 10px 3px whitesmoke;
    transform: scale(1.02);
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 250, 222);
}
#form{
    margin: auto;
    margin-top: 25px;
    width: fit-content;
}
.delete{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.fa-address-book{
    font-size: 30px;
    color: rgb(108, 213, 255);
}
.fa-rectangle-xmark{
    transition: 0.2s ease-in-out;
}
.fa-rectangle-xmark:hover{
    color: rgb(255, 0, 0);
}
#form input{
    height: 30px;
    font-size: medium;
    padding-left: 5px;
    width: 160px;
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    background-color: rgb(188, 36, 66);
    border-top: 2px solid rgb(235, 154, 240);
    border-left:2px solid rgb(208, 93, 214) ;
    border-right: 2px solid rgb(214, 66, 153);
    border-bottom: 2px solid rgb(183, 39, 84);
}
#form input::placeholder{
    color: aliceblue;
}